# YOUR PROJECT TITLE

Imports and set magics:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets

import datetime

import pandas_datareader # install with `pip install pandas-datareader`

In [42]:
# Reading SMIT4
# Import data
SMIT4 = 'SMIT4.xlsx'

# Read data
pd.read_excel(SMIT4).head(10)

# Cleaning SMIT4
# Remove the first column and first two rows which contain no information
SMIT4 = pd.read_excel(SMIT4, skiprows=2)
SMIT4.drop('Unnamed: 0', axis=1, inplace=True)

# Rename new column 1
SMIT4.rename(columns = {'Unnamed: 1':'Municipality'}, inplace=True)

# Drop the last two column which contain no information
SMIT4 = SMIT4.drop([100, 101])

# Dropping the row Christiansø since it is not actually a municipality 
SMIT4 = SMIT4.loc[SMIT4.Municipality.str.contains('Christiansø') == False] # keep everything else

# Resetting index
SMIT4.reset_index(inplace = True, drop = True) # Drop old index too

SMIT4.head(99)

,Municipality,2020M04D20,2020M04D21,2020M04D22,2020M04D23,2020M04D24,2020M04D27,2020M04D28,2020M04D29,2020M04D30,...,2021M06D20,2021M06D21,2021M06D22,2021M06D23,2021M06D24,2021M06D25,2021M06D26,2021M06D27,2021M06D28,2021M06D29
0,All Denmark,..,..,..,..,..,..,..,..,..,...,5009.0,5011.0,5014.0,5018.0,5021.0,5025.0,5028.0,5031.0,5034.0,5038.0
1,Copenhagen,238,244,252,256,260,274,279,286,293,...,8326.0,8331.0,8338.0,8350.0,8356.0,8367.0,8375.0,8383.0,8391.0,8406.0
2,Frederiksberg,276,280,288,291,291,303,309,315,319,...,7509.0,7515.0,7520.0,7533.0,7540.0,7553.0,7562.0,7577.0,7583.0,7593.0
3,Dragør,154,161,161,182,182,189,189,189,196,...,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0
4,Tårnby,151,156,161,163,168,174,177,184,191,...,7639.0,7641.0,7644.0,7646.0,7648.0,7648.0,7651.0,7653.0,7653.0,7653.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Morsø,64,69,74,78,78,83,83,83,83,...,3042.0,3042.0,3062.0,3062.0,3062.0,3062.0,3062.0,3062.0,3067.0,3067.0
95,Rebild,37,37,37,47,43,43,43,43,43,...,3191.0,3191.0,3198.0,3198.0,3198.0,3201.0,3201.0,3201.0,3201.0,3201.0
96,Thisted,69,69,71,71,73,73,73,73,73,...,3137.0,3137.0,3137.0,3137.0,3141.0,3141.0,3141.0,3141.0,3141.0,3141.0
97,Vesthimmerlands,116,116,116,116,116,119,121,124,124,...,2606.0,2606.0,2606.0,2606.0,2606.0,2606.0,2606.0,2606.0,2608.0,2608.0
98,Aalborg,62,62,63,63,64,65,65,66,65,...,4562.0,4564.0,4568.0,4571.0,4579.0,4584.0,4588.0,4593.0,4598.0,4606.0

In [5]:
# Reading BEV107
BEV107 = 'BEV107.xlsx'

# Read data
pd.read_excel(BEV107).head(10)

# Cleaning Bev107
# Remove the first column and first two rows which contain no information
BEV107 = pd.read_excel(BEV107, skiprows=2)
BEV107.drop('Unnamed: 0', axis=1, inplace=True)

# Rename new column 1
BEV107.rename(columns = {'Unnamed: 1': 'Municipality', '2022': 'pop2022'}, inplace=True)


# Drop the last two column which contain no information
BEV107 = BEV107.drop([99, 100])

# Dropping the row Christiansø since it is not actually a municipality 
BEV107 = BEV107.loc[BEV107.Municipality.str.contains('Christiansø') == False] # keep everything else

# Resetting index
BEV107.reset_index(inplace = True, drop = True) # Drop old index too

BEV107.head(98)

       Municipality   pop2022
0        Copenhagen  644431.0
1     Frederiksberg  103608.0
2            Dragør   14640.0
3            Tårnby   42723.0
4       Albertslund   27599.0
..              ...       ...
93            Morsø   20068.0
94           Rebild   30646.0
95          Thisted   43089.0
96  Vesthimmerlands   36326.0
97          Aalborg  221082.0

[98 rows x 2 columns]

In [43]:
SMIT4_sorted = SMIT4.drop(SMIT4.iloc[:, 1:104], axis=1, inplace=False)

In [44]:
SMIT4_sorted.head(99)

,Municipality,2020M09D07,2020M09D08,2020M09D09,2020M09D10,2020M09D11,2020M09D12,2020M09D13,2020M09D14,2020M09D15,...,2021M06D20,2021M06D21,2021M06D22,2021M06D23,2021M06D24,2021M06D25,2021M06D26,2021M06D27,2021M06D28,2021M06D29
0,All Denmark,311.0,315.0,320.0,325.0,330.0,336.0,342.0,348.0,353.0,...,5009.0,5011.0,5014.0,5018.0,5021.0,5025.0,5028.0,5031.0,5034.0,5038.0
1,Copenhagen,544.0,556.0,566.0,578.0,587.0,599.0,611.0,625.0,637.0,...,8326.0,8331.0,8338.0,8350.0,8356.0,8367.0,8375.0,8383.0,8391.0,8406.0
2,Frederiksberg,552.0,557.0,560.0,577.0,591.0,604.0,620.0,634.0,645.0,...,7509.0,7515.0,7520.0,7533.0,7540.0,7553.0,7562.0,7577.0,7583.0,7593.0
3,Dragør,221.0,221.0,228.0,228.0,228.0,235.0,235.0,235.0,235.0,...,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0,6327.0
4,Tårnby,354.0,356.0,361.0,365.0,368.0,377.0,379.0,386.0,388.0,...,7639.0,7641.0,7644.0,7646.0,7648.0,7648.0,7651.0,7653.0,7653.0,7653.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Morsø,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,3042.0,3042.0,3062.0,3062.0,3062.0,3062.0,3062.0,3062.0,3067.0,3067.0
95,Rebild,80.0,80.0,80.0,80.0,80.0,83.0,86.0,93.0,103.0,...,3191.0,3191.0,3198.0,3198.0,3198.0,3201.0,3201.0,3201.0,3201.0,3201.0
96,Thisted,117.0,117.0,136.0,143.0,145.0,145.0,147.0,147.0,150.0,...,3137.0,3137.0,3137.0,3137.0,3141.0,3141.0,3141.0,3141.0,3141.0,3141.0
97,Vesthimmerlands,221.0,221.0,221.0,221.0,226.0,226.0,229.0,229.0,229.0,...,2606.0,2606.0,2606.0,2606.0,2606.0,2606.0,2606.0,2606.0,2608.0,2608.0
98,Aalborg,147.0,148.0,150.0,155.0,160.0,163.0,169.0,174.0,185.0,...,4562.0,4564.0,4568.0,4571.0,4579.0,4584.0,4588.0,4593.0,4598.0,4606.0